body {/*inga vaideringsfel alls :))). Rukayas del, men det visade sig att varken hon eller mint kunde något om grid så Ola behövde ta över...*/
    background-color: rgb(235, 164, 72);/*ökenfärg*/
    text-align: center;
    color: rgb(0, 27, 0);/*regnskogsfärg*/
    font-family:'Courier New', Courier, monospace;/*tyckte den passade bäst med temat djur*/
    text-align: center;
}
#start{
    display:grid;/*grid är det enda jag har lärt mig att använda hittills, tror dock inte att det blev riktigt rätt överallt*/
    grid-template-rows: auto 100px auto 120px;
    grid-template-areas:
    "header"
    "section1"
    "section2"
    "main"
    "footer";
}
#us{
    display: grid;
    grid-template-rows: auto 100px 300px 120px ;
    grid-template-areas:
    "header"
    "section"
    "main"
    "footer";
}
#choose{
    display: grid;
    grid-template-rows: 100px 24em 120px ;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
header>h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 4px 8px rgb(34, 24, 10);
}
#start img{/*jag vet att man inte ska använda sig av id så ofta. Har jag använt det lagom mycket?*/
    width: 60em;
}
#animals img{
    width: 450px;
}
.menu,footer{
    border: solid;
    border-radius: 25px;
    background-color: rgb(175, 103, 10);
}
nav{
    margin:30px;
    display: grid;
    grid-template-columns: 20em 40% 20em;
    font-size: 3ex;
}
a{
    text-decoration: none;
}
#choose p~a{/*det var lite otydligt att de var länkar*/
    text-decoration: underline;
}
a[href^="https"]{/*det var lite otydligt att de var länkar*/
    text-decoration: underline;
}
a:link{/*färgen behöver ändras kanske? vit kan vara lite svår att se på vissa delar*/
    color: #FFFFFF;
}
a:visited{
    color: rgb(216, 216, 216);
}
a:focus, a:hover{
    color: rgb(192, 140, 98);
}
a:active{
    color:rgb(255, 115, 0);
}
.left{
    list-style-type: none;
}
#animals tr:nth-child(odd){/*var tvungen att lägga till detta, annars skulle jag inte ha gjort det*/
    background-color: rgb(255, 202, 104);
}
#animals tr:nth-child(even){
    background-color: rgb(253, 188, 90);
}