body {
    background-color: rgb(235, 164, 72);
    text-align: center;
    color: rgb(0, 27, 0);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
#start{
    display:grid;
    grid-template-rows: auto 100px auto 120px;
    grid-template-areas:
    "header"
    "section1"
    "section2"
    "main"
    "footer"
}
#start h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 4px 8px rgb(34, 24, 10);
}
#start img{
    width: 60em;
}
#animals img{
    width: 450px;
}
.menu{
    background-color: rgb(175, 103, 10);
}
footer{
    border: solid;
    border-radius: 25px;
    background-color: rgb(175, 103, 10);
}
a:link{
    color: white;
}
a:visited{
    color: darkviolet;
}
a:focus, a:hover{
    color: red;
}
a:active{
    color:midnightblue;
}

